{% extends 'job_app/index.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<h1 class="text-center">About 99 Jobs</h1>
<p> 
99 Jobs is Zambia's #1 job website. We connect companies with hundreds of qualified job seekers both locally and internationally. We at 99 Jobs believe-in and practice 5 core values which are Integrity, Compassion, Community, Hard work, and Innovation. Through these guiding principles our team provides business value to clients across the nation, consistently allowing teams to fill vacancies with candidates who are the best fit for the advertised roles.
</p>
<br>
<ul>
    <li>
Integrity: In our everday professional lives we are faced with several trying circumstances that test our ethical fabric. The world of cyberspace poses various challenges that compromise the integrity of content publishers every day. For instance, the security of personal data is constantly under threat from unscrupulous market players who are willing to share this data for a few silver coins. When organisations turn users into the product it is ordinary people like you and me who run the risks of suffering cyberattacks and other forms of abuse. It is for these reasons that integrity is of the utmost importance to our team at 99 Jobs. We do not share your data with any third parties without your concent however, we are bound by the laws of Zambia and if a court requests for data we are obliged to respond in an appropriate manner. In all circumstances we believe in equal employment opportunity for all people regardless of race, age, gender, or religion.
    </li>
    <br>
    <li>
        Compassion: As human beings we have numerous needs related to physiology, safety, love and belonging, esteem, and self-actualisation. At our core we simply long to do well for ourselves and our loved ones and then have a little extra left over for savings and a little harmless fun. Considering that resources are of a limited nature the job market is highly competitive. This darwinian environment leads to a struggle for the few employment opportunities available and as such it is easy for immoral businesses to take advantage of cash-strapped job seekers. Our role is to protect these people and seek the best outcomes for families from every background. 99 Jobs strives to focus its efforts on the humanity of all stakeholders of the business. We frown upon corrupt practices such as bribery and nepotism, while we encourage positive behaviors such as life-long education, community engagement, and youth empowerment. 
    </li>
    <br>
    <li>
        Community: Our values as Zambian people are rooted in traditional family and community structures. Learning is a community affair and we feel it should follow that job hunting be structured around community. That is our opinion and it is for this reason that our organisation engages in various community based activites including social media groups for career guidance of enthusiastic job seekers. Further to this, efforts to engage potential employers for the placement of job applicants is a priority of the business. Job seekers are encourage to upload certified copies of their documents so that they are added to the database of potential employees to be short-listed for job interviews as opportunities arise. Applicants are encouraged to provide complete and accurate copies of thier credentials. If you are unable to upload your documents you can email them to <a href = "mailto: jobhunterportal@gmail.com">jobhunterportal@gmail.com</a>.
    </li>
    <br>
    <li>
        Hard work: There is no sweet without sweat. That is a fact for the majority of us and we understand that time is a scarce resource our clients and we therefore place and emphasis on putting in extra effort as we strive to meet our promises. Our members of staff may be talented however there is no substitute for hard work. 99 Jobs believes in sitting down and getting the job done. This culture is a cornerstone of our success and a major secret to the good reputation we enjoy with our clients. We are firm believers of feelings fulfulled after putting in an honest day of work and resting assured that we have done all we have to provide clients with the necessary assitance they need to take thier endeavour to the next level. 
    </li>
    <br>
    <li>
        Innovation: We are in the age of the internet, big data, and artifitial intelligence. These are but a few of the many tools available to us today to enhance business operations. The wildpread availability of computing devices and lower prices of internet access are a fertile ground for online innovation that will solve various problems that plague our society. The continued support that the government and academic community show for education and vocational training greatly encourages us in our efforts to use technology for the improvement of life in Zambia. We believe in cutting edge tech nd will continue to provide value through computers and the web. 
    </li>
</ul>
{% endblock content %}